body {
  margin-top: 50px; }

.navbar {
  box-shadow: 2px 2px 5px #0000008c;
  opacity: 0.9;
  background: rgb(255, 255, 255);
  }
  .navbar .nav-item {
    font-size: 1.8rem;
    padding-right: 1rem;}
  .navbar .nav-item .active {
    border-left: 3px solid #ff0000 !important; }

#showcase {
  position: relative;
  background: url("../img/c_plus_plus_small.jpg");
  min-height: 550px; }
  #showcase .primary-overlay {
    background: rgba(0, 60, 255, 0.267);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    }

#fabio {
  left: 350px;
  bottom: 225px;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd; }

#projects img {
  margin-top: -50px; }
#projects .list-group .list-group-flush {
  background: transparent; }
#projects .card:hover {
  background: #3292a6;
  color: #fff; }
  #projects .card:hover .fab {
    color: white; }
  #projects .card:hover h3 {
    color: #fff !important; }
  #projects .card:hover .text-muted {
    color: white !important; }
  #projects .card:hover .list-group-item {
    background: transparent !important; }
    #projects .card:hover .list-group-item a {
      color: #fff; }

#imgfabio {
  border: 3px solid rgba(9, 126, 221, 0.83); 

}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 3.5rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
@media (min-width: 768px) {
  #projects .card {
    min-height: 450px; 
  }
    #projects .card .card-body {
      min-height: 450px; } 
    
.progress {
  height: 10px; 
}
  .progress .progress-bar {
    height: 10px; 
  }
}
