$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.6);

body {
  margin-top: 50px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.2rem;
    padding-right: 1rem;
  }

  .nav-item .active {
    border-left: 3px solid $primary !important;
  }
}

#showcase {
  position: relative;
  background: url('../img/c_plus_plus_small.jpg');
  min-height: 550px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#fabio {
  padding-top: 7rem;
  padding-left: 5rem;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd;
}

#projects {
  img {
    margin-top: -50px;
  }

  .list-group .list-group-flush {
    background: transparent;
  }

  .card:hover {

    background: $primary;
    color: #fff;

    .fab {
      color: white;
    }

    h3 {
      color: #fff !important;
    }

    .text-muted {
      color: white !important;
    }

    .list-group-item {
      background: transparent !important;

      a {
        color: #fff;
      }

    }


  }
}


#imgfabio {
  border: 3px solid #fff;
}

@media(max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

@media(min-width: 768px) {
  #projects {
    .card {
      min-height: 450px;

      .card-body {
        min-height: 450px;
      }
    }
  }
}

.progress {
  height: 10px;

  .progress-bar {
    height: 10px;
  }
}