.navbar {
  box-shadow: 2px 2px 5px #000000;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.8rem;
    padding-right: 1.4rem; 
  }

#info{
  margin: auto;
  width: 60%;
  font-size: 20px;
}

#showcase {
  position: relative;
  background: url("../img/c_plus_plus_small.jpg");
  min-height: 400px; 
}
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd; 
}

#authors img {
  margin-top: -50px; 
}
#authors .card:hover {
  background: #3292a6;
  color: #fff; 
}
  #authors .card:hover .fab {
    color: white; 
  }

@media (max-width: 868px) {
  #showcase {
    min-height: 650px; 
  }
    #showcase h1 {
      font-size: 1.5px; 
    }

  .mb-resp {
    margin-bottom:  1rem; 
  }
  #projects .card {
    min-height: 450px; 
  }
    #projects .card .card-body {
      min-height: 450px; 
    }
     
  }

/*# sourceMappingURL=style.css.map */
